.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
}

.MainContent {
  align-self: center;
  justify-self: center;
  display: grid;
  width: max-content;
  grid-template-rows: auto auto auto auto auto auto;
  gap: 8px;
}