:root {
  --background-color: #212529;
  --background-on: #d8d8d8;
  --navbar-color: #343A40;
  --navbar-on: #d8d8d8;
  --surface-color: #333B44;
  --surface-on: #d8d8d8;
  --inputs-color: #343A40;
  --inputs-color-disabled: #61696C;
  --inputs-outline-raised: #ffffff65;
  --inputs-outline-lowered: #00000066;
  --inputs-on: #fff;
  --inputs-on-variant: #899295;
  --inputs-on-disabled: #b3babd;
  --primary-color: #b3babd;
  --primary-on: #fff;
  --secondary-color: #009FBF;
  --secondary-on: #009FBF;
  --error-color: #ba1b1b;
  --error-on: #fff;
  --highlight: #ffffff33;
}

html[data-theme='dark'] {
  --background-color: #212529;
  --background-on: #d8d8d8;
  --navbar-color: #343A40;
  --navbar-on: #d8d8d8;
  --surface-color: #333B44;
  --surface-on: #d8d8d8;
  --inputs-color: #343A40;
  --inputs-color-disabled: #61696C;
  --inputs-outline-raised: #ffffff65;
  --inputs-outline-lowered: #00000066;
  --inputs-on: #fff;
  --inputs-on-variant: #899295;
  --inputs-on-disabled: #b3babd;
  --primary-color: #009FBF;
  --primary-on: #fff;
  --secondary-color: #b3babd;
  --secondary-on: #009FBF;
  --error-color: #ba1b1b;
  --error-on: #fff;
  --highlight: #ffffff33;
}

html[data-theme='light'] {
  --background-color: #E5E5E5;
  --background-on: #343A40;
  --navbar-color: #fafafa;
  --navbar-on: #343A40;
  --surface-color: #f1f1f1;
  --surface-on: #343A40;
  --inputs-color: #BFC8CC;
  --inputs-color-disabled: #d8d8d8;
  --inputs-outline-raised: #05050540;
  --inputs-outline-lowered: #00000099;
  --inputs-on: #212529;
  --inputs-on-variant: #899295;
  --inputs-on-disabled: #767c7e;
  --primary-color: #009FBF;
  --primary-on: #212529;
  --secondary-color: #00687D;
  --secondary-on: #fff;
  --error-color: #ba1b1b;
  --error-on: #680003;
  --highlight: #00000044;
}

html, body, #root {
  height: 100vh;
}

#root {
  overflow: hidden;
}

body {
  margin: 0;
  font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--background-on);
  transition: background-color 0.2s, color 0.2s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background-color: var(--surface-on);
  color: var(--surface-color);
  border: 0px;
  padding: 8px 16px;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

button:focus {
  cursor: pointer;
  outline: 2px solid var(--primary-color);
}