.Board {
    justify-self: center;

    margin-top: 32px;

    display: grid;
    width: min-content;
    height: min-content;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    border: 3px solid var(--surface-on);
}

@media only screen and (max-width: 700px) {
    .Board {
        display: grid;
        grid-template-columns: 100px 100px 100px;
        grid-template-rows: 100px 100px 100px;
        border: 1px solid var(--surface-on);
    }
}