.Cell {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border: 1px solid var(--surface-on);
    display: grid;
}

.Cell:hover {
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    border: 3px solid var(--primary-color);
    cursor: pointer;
}

.CellSelected {
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    border: 3px solid var(--primary-color);
}

.CellHighlight {
    background-color: var(--highlight);
}

.Number {
    justify-self: center;
    align-self: center;
    margin: 0;
}

.Unlocked {
    color: var(--primary-color);
}

@media only screen and (max-width: 700px) {
    .Cell:hover {
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        border: 2px solid var(--primary-color);
    }

    .CellSelected {
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        border: 2px solid var(--primary-color);
    }
}